{% if groceryitem_list %}
	<ul>
		{% for gitem in groceryitem_list %}
		<li>
			<a href="{{gitem.item_name}}/">{{gitem.item_name}}</a>
		</li>
		{% endfor %}
	</ul>
{% else %}
	<p>No grocery items have been added.</p>
{% endif %}